body {
  font-family: 'Roboto',sans-serif;
  background-color: #f9f9f9;
}
.title {
  font-size: 36px; 
  font-weight: 400;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 121px;
}
.container {
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.card_text {
  text-align: center;
  margin-top: 25px;
}
.category {
  font-size: 16px;
  font-weight: 300;
}
.price {
  font-size: 18px;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 25px;
}
.button {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #52c3c9;
  border: 1px solid #52c3c9;
  padding: 23px 75px;
  background: #f9f9f9;
  transition: all 0.5s;
}
.button:hover {
  font-size: 18px;
  color: #000;
  background: #fff;
  border: 2px solid #000;
  transition: all 0.5s;
}